#result {
    width: 100%;
    height: 100%;
}
.row {
    display: flex !important;
    flex-wrap: wrap !important;
}
.col-md-6 {
    flex: 0 0 auto !important;
    width: 50% !important;
}
.p1 {
    font-weight: bolder;
}
.p2 {
    font-weight: bolder;
}